---
import Layout from '../layouts/Layout.astro';
import SmoothScroll from '../components/SmoothScroll';
import HeroSection from '../components/HeroSection';
import MarqueeSection from '../components/MarqueeSection';
import AboutSection from '../components/AboutSection';
import ServicesSection from '../components/ServicesSection';
import ProjectsSection from '../components/ProjectsSection';
import FooterSection from '../components/FooterSection';
---

<Layout>
  <main class="bg-[#FDF6EC]" style="overflow-x: clip;">
    <SmoothScroll client:load />
    <HeroSection client:load />
    <div class="relative z-10 bg-[#FDF6EC]">
      <MarqueeSection client:visible />
      <AboutSection client:visible />
      <ServicesSection client:visible />
      <ProjectsSection client:visible />
      <FooterSection client:visible />
    </div>
  </main>
</Layout>
